<%-include('../../particals/admin/head.ejs')%>
<body>
<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>welcome <%=username%></h5> 
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <a href="/logout/"><button class="btn btn-danger">LOG OUT</button></a>
            </div>
        </div>
    </div>
</section>

<section id="deshboard">
    <div class="container">
        <div class="row">
            <%-include('../../particals/admin/left.ejs')%>
            <div class="col-md-9">
                <h3>DESHBOARD MANAGEMENT</h3>
                <ul>
                    <li><h6>ALL USERS: <span><%=allRecords%></span></h6></li>
                    <li><h6>ADMIN USERS LOGIN: <span><%=adminuser%></span></h6></li>
                    <li><h6>USERS LOGIN: <span><%=userlogin%></span></h6></li>
                    <li><h6>ACTIVE ACCOUNT: <span><%=activeAccount%></span></h6></li>
                    <li><h6>SUSPENDED ACCOUNT: <span><%=suspendedAccount%></span></h6></li>
                </ul>
              
            </div>
        </div>
    </div>
</section>