<%-include('../particals/head.ejs')%>
<section id="blogheader">
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div id="blogs">
            <h2 class="text-center">Reading Blog</h2>
            <% allCountPage.forEach((val, key) => { %>
                <div class="card">
                  <div class="card-body">
                    
                    <h5 class="card-title"><%=val.title%></h5>
                    
                    <p>
                      <span class="dots"><%= val.desc.slice(0, 300) %>...</span>
                      <span class="more" style="display:none;"><%= val.desc.slice(300, 1000) %></span>
                    </p>
                    <button onclick="toggleText('<%=key%>')" class="myBtn btn btn-light box">Read more</button>
                  </div>
                  <!-- <%=message%> -->
                  <h6><span  class="box ms-2">Create By :</span> <span id="email"><%=val.createBy%></span>
                  <span style="float: right; margin-right: 20px;"><a href="/wishlist/<%=val.id%>/<%=val.blogId%>"><i class="bi bi-heart-fill"></i></a></span>
                  </h6>
                  
                </div>
                
              <% }) %>
            </div>
        <div class="col-md-2"></div>
    </div>
</div>
</section>
<section id="paging">
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <% if (page!==1) { %>
              <a class="page-link" href="/pagination/<%= page - 1 %>&totalPage=<%= totalPage %>">Previous</a>
            <% } %>
            <% for(let i = 1; i <= totalPage; i++) { %>
              <%if(page == i){%>
                <li class="page-item active">
                
                  
             <% }%>
              
                <a class="page-link" href="/pagination/<%= i %>"><%= i %></a>
                
           
              </li>
            <%}%>
          <%if(page<=totalPage-1){%>
            <a class="page-link" href="/pagination/<%=page+1%>&totalPage=<%= totalPage %>">Next</a>
          <%}%>
              
            
           
            
          </ul>
        </nav>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>

</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../main.js"></script>
</body>
</html>